# Titanic Dataset

## Overview
The Titanic dataset is one of the most famous datasets for practicing binary classification and data exploration. It provides information about the passengers of the RMS Titanic, which sank on its maiden voyage in 1912.

## Dataset Information
The dataset includes the following key features:

| Column Name       | Description                                                                                 |
|-------------------|---------------------------------------------------------------------------------------------|
| **PassengerId**   | Unique identifier for each passenger.                                                      |
| **Survived**      | Binary indicator of survival: `1` = survived, `0` = did not survive (target variable).      |
| **Pclass**        | Passenger's class: `1` = 1st, `2` = 2nd, `3` = 3rd class.                                  |
| **Name**          | Full name of the passenger.                                                                |
| **Sex**           | Gender of the passenger (`male` or `female`).                                              |
| **Age**           | Age of the passenger (in years).                                                           |
| **SibSp**         | Number of siblings/spouses aboard the Titanic with the passenger.                          |
| **Parch**         | Number of parents/children aboard the Titanic with the passenger.                          |
| **Ticket**        | Ticket number.                                                                             |
| **Fare**          | Ticket price (in British pounds).                                                          |
| **Cabin**         | Cabin number (if known).                                                                   |
| **Embarked**      | Port of embarkation: `C` = Cherbourg, `Q` = Queenstown, `S` = Southampton.                 |

## Key Insights for Analysis
1. **Survival Rate Analysis**:
   - What factors influenced survival? E.g., gender, age, class.
   - Women and children are hypothesized to have higher survival rates ("Women and children first").

2. **Socioeconomic Status**:
   - Does passenger class (`Pclass`) correlate with survival?
   - Higher-class passengers often had better access to lifeboats.

3. **Family Connections**:
   - Does traveling with family (siblings, spouses, parents, children) improve survival odds?

4. **Embarkation and Fare**:
   - Were survival rates affected by the port of embarkation or the ticket fare?

## Challenges
- Missing data in `Age` and `Cabin` columns.
- Need to preprocess data (e.g., encode categorical variables like `Sex` and `Embarked`).

## Useful Links
- Kaggle Titanic Dataset: [https://www.kaggle.com/c/titanic/data](https://www.kaggle.com/c/titanic/data)

---

# Breast Cancer Dataset

## Overview
The Breast Cancer dataset is widely used for practicing binary classification. It focuses on predicting whether a tumor is **malignant** or **benign** based on various features derived from medical imaging.

## Dataset Information
The dataset includes the following key features:

| Column Name           | Description                                                                                          |
|-----------------------|------------------------------------------------------------------------------------------------------|
| **ID**                | Unique identifier for each sample.                                                                  |
| **Diagnosis**         | Target variable: `M` = malignant, `B` = benign.                                                     |
| **Radius_mean**       | Mean of the distances from the center to points on the perimeter.                                   |
| **Texture_mean**      | Standard deviation of gray-scale values.                                                            |
| **Perimeter_mean**    | Mean size of the tumor's perimeter.                                                                 |
| **Area_mean**         | Mean area of the tumor.                                                                             |
| **Smoothness_mean**   | Mean smoothness (local variation in radius lengths).                                                |
| **Compactness_mean**  | Mean compactness (perimeter² / area - 1.0).                                                         |
| **Concavity_mean**    | Mean severity of concave portions of the tumor contour.                                             |
| **Symmetry_mean**     | Mean symmetry of the tumor.                                                                         |
| **Fractal_dimension_mean** | Mean of fractal dimension ("coastline approximation" - 1).                                     |
| **...**               | Similar features are provided for standard deviation (`_se`) and worst measurements (`_worst`).     |

## Key Insights for Analysis
1. **Predictive Modeling**:
   - Can we accurately classify tumors as benign or malignant based on the features?
   - Focus on high-importance features like `Radius_mean`, `Area_mean`, and `Compactness_mean`.

2. **Exploratory Analysis**:
   - Visualize differences in features between benign and malignant tumors.
   - Check for correlations between features.

3. **Feature Engineering**:
   - Normalize or scale the data for algorithms sensitive to feature magnitudes.
   - Reduce dimensionality using techniques like PCA (Principal Component Analysis).

4. **Evaluation Metrics**:
   - Use precision, recall, F1-score, and ROC-AUC to evaluate model performance.

## Challenges
- The dataset is already clean but may require feature selection or dimensionality reduction.
- Balancing the classes (`M` and `B`) if there's an imbalance.

## Useful Links
- Kaggle Breast Cancer Dataset: [https://www.kaggle.com/uciml/breast-cancer-wisconsin-data](https://www.kaggle.com/uciml/breast-cancer-wisconsin-data)

In [ ]:
import pandas as pd

In [18]:
genders_df = pd.read_csv("gender_submission.csv", sep=",")
testing_df = pd.read_csv("test.csv", sep=",")
training_df = pd.read_csv("train.csv", sep="," )

In [19]:
print(genders_df.info())
print(testing_df.info())
print(training_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [20]:
training_df.shape

(891, 12)

In [21]:
training_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
genders_df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [23]:
testing_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C